@import 'components/global.scss';

html {

  height: 100%;
  font-size: 62.5%;

}

#root {

  height: 100%;

}

body {

  color: $c-text;
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Ubuntu', sans-serif;

  &.color {

    background-color: $c-navyteal;
    background-attachment: fixed;
    background-image: radial-gradient(closest-corner, #39A2DB, #176d80);

  }

  &.disableOverflow {

    overflow-y: hidden;

  }

  @media (min-width: $mobile){

    font-size: 1.5rem;

  }

  @media (min-width: 1200px){

    font-size: 1.6rem;

  }
}
